<h1>Recipes Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <h3>
        <%= link_to recipe.name, controller: "recipes", action: "show", id: recipe._id%>
      </h3>
      <p><i><%= recipe.tags %></i></p>
      <p><%= recipe.notes %></p>
    </li>
  <% end %>
</ul>
