<h1>All recipes</h1>

<p>
<%= link_to 'New recipe', new_recipe_path %>
<%= link_to 'Search recipes', search_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Type</th>
    <th>Tags</th>
    <th>Notes</th>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.url %></td>
      <td>
        <% if recipe.entree %>
          Entree
        <% end %>
        <% if recipe.soup %>
          Soup
        <% end %>
        <% if recipe.salad %>
          Salad
        <% end %>
        <% if recipe.dessert %>
          Dessert
        <% end %>
        <% if recipe.appetizer %>
          Appetizer
        <% end %>
      </td>
      <td><%= recipe.tags %></td>
      <td><%= recipe.notes %></td>

      <td><%= link_to 'Show', recipe_path(recipe) %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td><%= link_to 'Destroy', recipe_path(recipe),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
