<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @recipe.url %>
</p>

<p>
  <strong>Type:</strong>
  <% if @recipe.entree %>
    Entree
  <% end %>
  <% if @recipe.soup %>
    Soup
  <% end %>
  <% if @recipe.salad %>
    Salad
  <% end %>
  <% if @recipe.dessert %>
    Dessert 
  <% end %>
  <% if @recipe.appetizer %>
    Appetizer
  <% end %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @recipe.tags %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @recipe.notes %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
